.container p {
	font-family: Helevetica Neue, Sans-Serif;
}

.container {
	background-color: #A9A9A9;
	width: 50%;
	margin: 100px;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: green;
}